# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Archivos subidos (generados en runtime)
uploads/

# Secrets
.env
